<h1>お問い合わせ一覧</h1>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メール</th>
        <th>ステータス</th>
        <th>日時</th>
        <th>詳細</th>
    </tr>

    {% for contact in contacts %}
    <tr>
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.status }}</td>
        <td>{{ contact.created_at }}</td>
        <td>
            <a href="{{ url_for('admin_contact_detail', id=contact.id) }}">
                開く
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
